.menu {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.menu button {
    background-color: #2a2a40;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #3e3e50;
}
